$color: #2c148b;
$font: "Saira", sans-serif;
$secfont: "Roboto", sans-serif;

.eventsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;

  li {
    justify-self: center;
  }
}

.home {
  .loading {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    font-family: $secfont;
    font-size: 14px;
    color: #565656;
  }
}

.searchform {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .searchlbl,
  .search {
    font-family: $font;
    color: $color;
    font-size: 14px;
    margin: 15px 5px;
    z-index: 1;
  }
  .search {
    border-color: lighten($color: $color, $amount: 30);
    border-style: solid;
    border-radius: 4px;
  }
}
