$color: #2c148b;
$font: "Saira", sans-serif;
$secfont: "Roboto", sans-serif;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username,
.email,
.password,
.picture {
  width: 75%;
  .update {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  & a {
    font-family: $secfont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: lighten($color: $color, $amount: 15);
    z-index: 1;
  }

  & h2 {
    font-family: $font;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    text-decoration-line: underline;
    color: #2c148b;
    margin: 4px 0;
  }

  & p {
    font-family: $secfont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #565656;
    margin-bottom: 4px;
  }
}

.picture {
  & img {
    margin-top: 4px;
    display: block;
    max-width: 200px;
  }
}
