$color: #2c148b;
$font: "Saira", sans-serif;
$secfont: "Roboto", sans-serif;

.submitform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: $font;

  background-color: #ffffff;
  padding: 15px 25px;
  border: 1px solid #2c148b;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  h1 {
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: #2c148b;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 16px;
    margin-top: 5px;
  }
  label,
  input {
    font-family: $secfont;
  }
  input {
    width: 200px;
    height: 23px;
    border: 1px solid $color;
    border-radius: 3px;
    padding: 2px;
  }
  button {
    background-color: $color;
    color: #ffffff;

    font-family: $secfont;
    text-align: center;
    text-decoration: none;

    width: 96px;
    padding: 4px 0;
    border: 1px solid #2c148b;
    border-radius: 3px;

    align-self: flex-end;
    margin-top: 5px;
  }
}
