/*
Some styles that need to be applied to all pages
*/
$color: #2c148b;
$font: "Saira", sans-serif;

// Makes the whole page clickable to close the sidebar
.close {
  min-width: 100vw;
  min-height: 100vh;
}

// Style for the sidebar opening button
.sbbtn {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 90%;

  cursor: pointer;

  width: 40px;
  height: 40px;

  border: solid #ffffff 2px;
  border-radius: 20px;

  background-image: url("../media/btn.png");
  background-position: center;
}

// Header, h2 and img (logo and name)
.header {
  & h2 {
    text-align: center;
    color: $color;
    font-size: 28px;
    font-weight: bold;
    font-family: $font;
    padding-top: 20px;
    cursor: pointer;
  }
  & img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 100px;
    cursor: pointer;
  }
}
