body {
  overflow-x: hidden;
  height: 100vh;
  background: url("../media/waves.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100vw 150px;
  background-attachment: fixed;
}
