$color: #2c148b;
$font: "Saira", sans-serif;
$secfont: "Roboto", sans-serif;

.updateform {
  display: flex;
  flex-direction: column;
  align-items: center;

  & label {
    font-family: $font;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    text-decoration-line: underline;
    color: #2c148b;

    margin-top: 8px;
    margin-bottom: 4px;
  }

  & input {
    font-family: $secfont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #565656;
  }

  & button {
    display: block;
    font-family: $secfont;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    padding: 2px 5px;

    border: 1px solid $color;
    border-radius: 3px;

    background-color: $color;
    color: #ffffff;

    align-self: flex-end;
    margin-right: 15%;
  }

  & img {
    display: block;
    max-width: 200px;
  }

  & .subm {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
