$color: #2c148b;
$font: "Saira", sans-serif;
$secfont: "Roboto", sans-serif;

.register,
.login {
  width: 60vw;
  height: 60vh;

  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.regform,
.logform {
  margin: 0 auto;
  height: 100%;

  border: 1.5px solid $color;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  div {
    width: 60%;
    display: flex;
    flex-direction: column;

    label,
    input {
      font-family: $secfont;
    }
    label {
      font-size: 16px;
    }
    input {
      height: 23px;
      border: 1px solid $color;
      border-radius: 3px;
      padding: 2px;
    }
  }

  div:first-of-type {
    margin-top: 30px;
  }

  div:last-of-type {
    margin-bottom: 30px;
  }

  h1 {
    font-family: $font;
    font-weight: 700;
    font-size: 2em;
  }

  a,
  a:active,
  a:focus,
  a:visited {
    font-family: $secfont;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    width: 100px;
    padding: 4px 0;

    border: 1px solid $color;
    border-radius: 3px;
  }

  > .btnmain {
    background-color: $color;
    color: #ffffff;
  }

  > .btnsec {
    color: #000000;
    background-color: #ffffff;
  }

  img {
    width: 25%;
  }
}

body {
  height: 100vh;
  background-image: url("../media/waves.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}
